<nav #navbar class="navbar active">
    <div class="container-fluid">

      <div class="collapse navbar-collapse">
        <ul class="float-start collapse-menu-icon">
          <li>
            <button mat-icon-button (click)="mobileMenuSidebarOpen($event,'overlay-open')" class="sidemenu-collapse">
              <i-feather name="menu" [class]="'header-icon'"></i-feather>
            </button>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse show">
        <ul class="nav navbar-nav navbar-right">
          <!-- #START# User -->
          <li class="nav-item user_profile">
            <button mat-button [matMenuTriggerFor]="profilemenu">
              <div class="chip dropdown-toggle" ngbDropdownToggle class="">
                <span>Ella Jones</span>
                <!-- <img src="{{userImg}}" class="user_img" width="25" height="25" alt="User"> -->
              </div>
            </button>
            <mat-menu #profilemenu="matMenu" class="profile-menu">
              <div class="noti-list">
                <div class="menu ">
                  <div class="user_dw_menu">
                    <button mat-menu-item>
                      <i-feather name="user" [class]="'user-menu-icons'"></i-feather>Account
                    </button>
                    <button mat-menu-item>
                      <i-feather name="settings" [class]="'user-menu-icons'"></i-feather>Settings
                    </button>
                    <button mat-menu-item routerLink="/logout">
                      <i-feather name="log-out" [class]="'user-menu-icons'"></i-feather>Logout
                    </button>
                  </div>
                </div>
              </div>
            </mat-menu>
          </li>
          <!-- #END# User -->
        </ul>
      </div>
    </div>
  </nav>
  